:root {
      
}
.tema8 {
  
}
.tema9 {/* tema8 светлая в https://zam.usite.pro/css/z.css */
  --Ct: #ccc;/* color */
  --bg: #000;/* background */
}

html {
  font-size: 12pt
}
body {
  margin: 0;
  color: var(--Ct);
  background: var(--bg);
}
header {
  position: fixed;
  top:0;
  padding: 3px 5px;
  width:calc(100% - 12px);
}
main {
  margin:1.7em 7px 7px 7px;
}
button[x] {
  background: red;
}
.bodyS {/* Добавим полосу прокрутки */
  overflow: scroll;
  min-height: 1700px;
}
    
nav {/* Меню */
      
}
